In [6]:
#Q1
# 1. pd.read_csv(): This function is used to read data from a CSV file and create a DataFrame.
import pandas as pd
df = pd.read_csv('data.csv')
print(df.head())

# 2. pd.DataFrame(): This function creates a DataFrame from various data structures like lists, dictionaries, NumPy arrays, etc.

data1 = {
    'Name': ['John', 'Jane', 'Mike'],
    'Age': [25, 30, 22],
    'City': ['New York', 'London', 'Paris']
}
df = pd.DataFrame(data1)
print(df)

# 3. df.describe(): This method generates descriptive statistics of the DataFrame, providing information like count, mean, standard deviation, min, max, etc. for numerical columns.

data2 = {
    'Age': [25, 30, 22, 28, 35],
    'Salary': [50000, 60000, 45000, 70000, 80000]
}
df = pd.DataFrame(data2)
print(df.describe())


# 4. df.head(): This method returns the first few rows of the DataFrame. By default, it shows the top 5 rows.

data3 = {
    'Name': ['John', 'Jane', 'Mike'],
    'Age': [25, 30, 22],
    'City': ['New York', 'London', 'Paris']
}
df = pd.DataFrame(data3)
print(df.head())

# 5. df.groupby(): This method allows you to group the data based on one or more columns and perform aggregate functions on the grouped data.

data4 = {
    'Age': [25, 30, 22, 28, 35],
    'Salary': [50000, 60000, 45000, 70000, 80000]
}
df = pd.DataFrame(data4)
grouped_data = df.groupby('Age')['Salary'].mean()
print(grouped_data)

   Name  Age      City
0  John   25  New York
1  Jane   30    London
2  Mike   22     Paris
             Age        Salary
count   5.000000      5.000000
mean   28.000000  61000.000000
std     4.949747  14317.821063
min    22.000000  45000.000000
25%    25.000000  50000.000000
50%    28.000000  60000.000000
75%    30.000000  70000.000000
max    35.000000  80000.000000
   Name  Age      City
0  John   25  New York
1  Jane   30    London
2  Mike   22     Paris
Age
22    45000.0
25    50000.0
28    70000.0
30    60000.0
35    80000.0
Name: Salary, dtype: float64

In [1]:
# Q2
import pandas as pd

def reindex_with_increment(df):
    new_index = pd.Series(range(1, 2 * len(df) + 1, 2))
    df.reset_index(drop=True, inplace=True)
    df.index = new_index

    return df

data = {
    'A': [10, 20, 30, 40],
    'B': [100, 200, 300, 400],
    'C': [1000, 2000, 3000, 4000]
}
df = pd.DataFrame(data)
df_reindexed = reindex_with_increment(df)
print(df_reindexed)

    A    B     C
1  10  100  1000
3  20  200  2000
5  30  300  3000
7  40  400  4000

In [9]:
#Q3
import pandas as pd
def sum_num(df):
    sum_3 = df.head(3)
    sum_3.sum()
    return sum_3.sum()
data_n = {
    "Values":[10, 20, 30, 40, 50]
}
df = pd.DataFrame(data_n)
print(sum_num(df))

Values    60
dtype: int64

In [11]:
#Q4
import pandas as pd
def word_count(df):
    df['count'] = df['Text'].str.len()
    return df
text = {
    "Text":['Linux','Windows', 'Unix', 'Raspberry']
}
df = pd.DataFrame(text)
word_count(df)

        Text  count
0      Linux      5
1    Windows      7
2       Unix      4
3  Raspberry      9

In [14]:
#Q5
'''
Both DataFrame.size() and DataFrame.shape() are methods in Pandas to get information about the DataFrame, but they provide different kinds of information:

1. DataFrame.size(): This method returns the total number of elements in the DataFrame, i.e., the total number of cells. It counts both rows and columns and gives you the overall size of the DataFrame.'''
import pandas as pd

data1 = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}

df = pd.DataFrame(data1)

print(df.size)

'''
DataFrame.shape(): This method returns a tuple representing the dimensions of the DataFrame.
The tuple consists of two elements: the number of rows and the number of columns.'''


data2 = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}

df = pd.DataFrame(data2)

print(df.shape)

9
(3, 3)

In [ ]:
#Q6
'''In pandas, we use the pd.read_excel() function to read data from an Excel file. This function is part of the pandas library and is used to create a DataFrame from the data stored in an Excel file.
'''
import pandas as pd

# Example: Reading an Excel file and creating a DataFrame
df = pd.read_excel('data.xlsx')
print(df.head())

In [16]:
# Q7

import pandas as pd
def username_part(df):
    df['Username'] = df['Username'].str.split('@').str[0]
    return df
usernames = {
    "Username": ["Mrbeast@gmail.com","Ayush@yahoo.com", "Rahul123@outlook.com"]
}
df = pd.DataFrame(usernames)    
username_part(df)

   Username
0   Mrbeast
1     Ayush
2  Rahul123

In [25]:
# Q8
import pandas as pd

def select_row(df):
    return df[(df['A'] > 5) & (df['B'] < 10)]

data = {
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
}

df = pd.DataFrame(data)
print(select_row(df))

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [28]:
#Q9

import pandas as pd
def stats(df):
    mean = df.mean()
    median = df.median()
    standard_deviation = df.std()
    df['mean'] = mean
    df['median'] = median
    df['standard_deviation'] = standard_deviation
    return mean, median, standard_deviation
data = {
   'Values':[47, 95, 88, 73, 88, 84]
}
df = pd.DataFrame(data)
mean, median, standard_deviation = stats(df)
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", standard_deviation)

Mean: Values    79.166667
dtype: float64
Median: Values    86.0
dtype: float64
Standard Deviation: Values    17.336859
dtype: float64

In [32]:
# Q10
import pandas as pd

def calculate_moving_average(df):
    df.sort_values(by='Date', inplace=True)

    # Calculate the moving average using a rolling window of size 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

    return df

data = {
    'Date': pd.date_range(start='2023-08-01', periods=10),
    'Sales': [100, 120, 80, 110, 90, 130, 140, 120, 160, 170]
}
df = pd.DataFrame(data)

# Call the function with the DataFrame
df_with_ma = calculate_moving_average(df)

print(df_with_ma)

        Date  Sales  MovingAverage
0 2023-08-01    100     100.000000
1 2023-08-02    120     110.000000
2 2023-08-03     80     100.000000
3 2023-08-04    110     102.500000
4 2023-08-05     90     100.000000
5 2023-08-06    130     105.000000
6 2023-08-07    140     110.000000
7 2023-08-08    120     112.857143
8 2023-08-09    160     118.571429
9 2023-08-10    170     131.428571

In [34]:
# Q11
import pandas as pd

def add_weekday_column(df):
   
    df['Date'] = pd.to_datetime(df['Date'])

    df['Weekday'] = df['Date'].dt.day_name()

    return df


data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']
}
df = pd.DataFrame(data)

df_with_weekday = add_weekday_column(df)

print(df_with_weekday)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [35]:
# Q12
import pandas as pd

def select_rows_between_dates(df):
   
    df['Date'] = pd.to_datetime(df['Date'])

    # Define the start and end dates
    start_date = '2023-01-01'
    end_date = '2023-01-31'

    # Use boolean indexing to select rows between the start and end dates
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

    return selected_rows

data = {
    'Date': ['2023-01-01', '2023-01-15', '2023-01-20', '2023-02-05', '2023-01-31']
}
df = pd.DataFrame(data)


selected_df = select_rows_between_dates(df)

print(selected_df)

        Date
0 2023-01-01
1 2023-01-15
2 2023-01-20
4 2023-01-31

In [ ]:
# Q13
'''To use the basic functions of pandas, the first and foremost necessary library that needs to be imported is pandas'''
# You can import pandas using the following standard import statement:
import pandas as pd